/*
Estilos Tabla loca
Autor: Santiago CR
20-05-2024
*/
/* body{
    background-color: rgb(211, 224, 228);
} */
body{
    background: url(/tecnico/Trabajos-Algoritmia/HTML-CSS/Tabla-periodica-22-05-2024/Img/images\ \(1\).jpg);
    background-size: 1vh;
} 
.arriba{
    float: left;
    display: block;
    width: 1200px;
}
.abajo{
    float: lefts;
    margin-top: 5px;
}
.medio{
    float: lefts;
    margin-top: 620px;
    flex-wrap: nowrap;
}
/* importante numero 1 */
.periodo{
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    height:80px;
}

.periodo-interno{
    display: flex;

}
/* importante numero 2 */
.celda{
    float: left;
    border: 1px solid black; 
    height: 80px;
    padding: 5px; 
    text-align: center; 
    border-radius: 20%;
}
.celda:hover{
    transform: scale(1.2);
}
.celda2 {
    float: left;
    border: 1px solid black;
    height: 50px;
    padding: 4px;
    text-align: center;
    border-radius: 20%;
    max-width: 120%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: rgb(209, 215, 219);
}
.celda-trasparente{
    float: left;
    border: none;
    height: 80px;
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(25, 201, 189);
}
.sub-titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(70, 117, 187);
}
.no-metal{
    background-color: rgb(73, 151, 100);
}
.simbolo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    margin-bottom: -15px;
}
.simbolo2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    margin-bottom: 0; 
    flex: 1;
    font-size: 16px;
}
/* importante parte 3 */
.nombre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.masa-atomica{
    text-align: end;
    font-size: 8px;
    margin-top: -10px;
}
.dencidad{
    text-align: end;
    font-size: 8px;
    margin-top: -2px;
}
.blancos{
    color: white;
}
.metales-blancos{
    background-color: rgb(209, 215, 219);
}
.nombre-H{
    color: rgb(208, 33, 33);
}
.nombre-o{
    color: black;
}
.metales-grupo1{
    background-color: rgb(149, 247, 144);
}
.metales-grupo2{
    background-color: rgb(148, 146, 171);
}
.metales-trancision{
    background-color: rgb(78, 24, 177);
}
.gases-nobles{
    background-color: rgb(121, 164, 231);
}
.otros-metales{
    background-color: rgb(101, 101, 108);
}
.lantano-actinio{
    background-color: rgb(49, 239, 204);
}
.azul{
    color: rgb(50, 81, 215);
}
.lantanidos{
    text-align: start;
    font-size: small;
    color: black;
}
.boton-invisible {
    display: none;
}


