/*
Estilos Tabla loca
Autor: Santiago CR
20-05-2024
*/
body{
    background-color: rgb(223, 234, 234);
}
.arriba{
    float: left;
    display: block;
    width: 1200px;
}
.abajo{
    float: lefts;
    margin-top: 620px;
}
.periodo{
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    height:80px;
}

.periodo-interno{
    display: flex;

}
.celda{
    float: left;
    border: 1px solid black; 
    height: 80px;
    padding: 5px; 
    text-align: center; 
    border-radius: 20%;
}
.celda-trasparente{
    float: left;
    border: none;
    height: 80px;
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: blue;
}
.no-metal{
    background-color: rgb(226, 124, 124);
}
.simbolo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    margin-bottom: -15px;
}
.nombre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.masa-atomica{
    text-align: end;
    font-size: 8px;
    margin-top: -10px;
}
.dencidad{
    text-align: end;
    font-size: 8px;
    margin-top: -2px;
}
.metales-blancos{
    background-color: aliceblue;
}
.nombre-H{
    color: red;
}
.nombre-o{
    color: black;
}
.metales-grupo1{
    background-color: rgb(251, 173, 242);
}
.metales-grupo2{
    background-color: rgb(179, 54, 166);
}
.metales-trancision{
    background-color: green;
}
.gases-nobles{
    background-color: rgb(90, 140, 220);
}
.otros-metales{
    background-color: yellow;
}
.lantano-actinio{
    background-color: greenyellow;
}


